<!-- Layouts/Default/Default.html -->
<html data-namespace-typo3-fluid="true" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<f:spaceless>
    <section class="hero is-info is-bold">
        <div class="hero-head">
            <f:render partial="Navigation/HeaderMenu" arguments="{_all}"/>
        </div>
        <div class="hero-body">
            <div class="container is-fullhd has-text-centered">
                <h1 class="title">{data.title}</h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container is-fullhd">
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: 0}"/>
        </div>
    </section>

    <footer class="footer">
        <div class="container is-fullhd">
            <f:render partial="Footer/Default" arguments="{_all}"/>
        </div>
    </footer>
</f:spaceless>
</html>
