<!-- Layouts/Default/Layout1.html -->
<html data-namespace-typo3-fluid="true" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<f:spaceless>
    <f:render partial="Header/Default" arguments="{_all}"/>

    <section class="hero bdBulmaTheme--section-alpha">
        <div class="hero-body">
            <div class="container is-fullhd">
                <div class="columns">
                    <div class="column">
                        <f:render partial="Frontpage/Alpha1" arguments="{_all}"/>
                    </div>
                    <div class="column">
                        <f:render partial="Frontpage/Alpha2" arguments="{_all}"/>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section bdBulmaTheme--section-beta">
        <div class="container is-fullhd">
            <div class="columns is-centered">
                <div class="column is-half">
                    <f:render partial="Frontpage/Beta" arguments="{_all}"/>
                </div>
            </div>
        </div>
    </section>


        <section class="bdBulmaTheme--section-gamma container">
            <div class="columns features">
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i class="fab fa-typo3 fa-"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h3>TYPO3 CMS</h3>
                                <p>Entwicklung, Umsetzung und Wartung komplexer Websites. Performant, sicher und
                                    responsiv
                                    für
                                    mehrere Viewports. Rechte-Management fein abgestimmt auf Ihr Unternehmen. Typo3
                                    Hosting
                                    auf
                                    Deutschen Servern ist ebenfalls möglich.</p>
                                <!--                        <p><a href="#">Mehr erfahren</a></p>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i class="fab fa-wordpress"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h3>WordPress CMS</h3>
                                <p>Content Management für kleinere Websites. Individuelles Design oder Übernahme Ihrer
                                    Vorlage.
                                    Wartung und kontinuierliche Optimierung von Performance, Google Ranking und DSGVO.
                                    Wir
                                    beraten Sie gern.</p>
                                <!--                        <p><a href="#">Learn more</a></p>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <!--                    <i class="fas fa-robot"></i>-->
                            <!--                    <i class="fas fa-hammer"></i>-->
                            <!--                    <i class="fas fa-play"></i>-->
                            <i class="fas fa-project-diagram"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h3>Web App Development</h3>
                                <p>Individuelle Lösungen, zugeschnitten auf Ihr Geschäftsmodell. Hoch flexible
                                    Web-Technologie,
                                    anpassbar an Ihre speziellen Bedürfnisse und immer aktuell. Die perfekte Wahl, wenn
                                    sonst
                                    keine Branchenlösung passt.</p>
                                <!--                        <p><a href="#">Learn more</a></p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bdBulmaTheme--section-delta container">
            <div class="intro column is-8 is-offset-2">
                <h2 class="title">Content Management weiter gedacht</h2><br>
                <p class="subtitle">Gehen Sie einen Schritt weiter und zeigen Sie mehr als nur eine Website. Lassen Sie
                    den
                    Besucher
                    eintauchen in Ihr Projekt. Nutzen Sie das volle Potenzial eines CMS und halten Sie dabei die Fäden
                    selbst in
                    der Hand.</p>
            </div>
        </section>

        <section class="bdBulmaTheme--section-epsilon">
            <div class="container">
                <f:render partial="Frontpage/Epsilon" arguments="{_all}"/>
            </div>


            <f:comment><!--
    <div class="sandbox">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Hello World</p>
                    <p class="subtitle">What is up?</p>
                </article>
            </div>
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Foo</p>
                    <p class="subtitle">Bar</p>
                </article>
            </div>
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Third column</p>
                    <p class="subtitle">With some content</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis
                            feugiat facilisis.</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-white">
                            <p class="title">Vertical tiles</p>
                            <p class="subtitle">Top box</p>
                        </article>
                        <article class="tile is-child notification is-white">
                            <p class="title">Vertical tiles</p>
                            <p class="subtitle">Bottom box</p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-white">
                            <p class="title">Middle box</p>
                            <p class="subtitle">With an image</p>
                            <figure class="image is-4by3">
                                <img src="https://picsum.photos/640/480/?random" alt="Description">
                            </figure>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent is-shady">
                    <article class="tile is-child notification is-white">
                        <p class="title">Wide column</p>
                        <p class="subtitle">Aligned with the right column</p>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                                pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis
                                feugiat facilisis.</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <div class="content">
                        <p class="title">Tall column</p>
                        <p class="subtitle">With even more content</p>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat
                                pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat
                                gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula
                                eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
                            <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a
                                sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor
                                lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet
                                felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam,
                                finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
                            <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue
                                lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed,
                                gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam
                                ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Side column</p>
                    <p class="subtitle">With some content</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis
                            feugiat facilisis.</p>
                    </div>
                </article>
            </div>
            <div class="tile is-parent is-8 is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Main column</p>
                    <p class="subtitle">With some content</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis
                            feugiat facilisis.</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent is-8 is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Murphy's law</p>
                    <p class="subtitle">Anything that can go wrong will go wrong</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis
                            feugiat facilisis.</p>
                    </div>
                </article>
            </div>
            <div class="tile is-parent is-shady">
                <article class="tile is-child notification is-white">
                    <p class="title">Main column</p>
                    <p class="subtitle">With some content</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis
                            feugiat facilisis.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
--></f:comment>
        </section>

    <f:comment>
        <section class="container">
            <div class="sandbox">
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Hello World</p>
                            <p class="subtitle">What is up?</p>
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Foo</p>
                            <p class="subtitle">Bar</p>
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Third column</p>
                            <p class="subtitle">With some content</p>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                                    pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis
                                    feugiat facilisis.</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-8">
                        <div class="tile">
                            <div class="tile is-parent is-vertical">
                                <article class="tile is-child notification is-white">
                                    <p class="title">Vertical tiles</p>
                                    <p class="subtitle">Top box</p>
                                </article>
                                <article class="tile is-child notification is-white">
                                    <p class="title">Vertical tiles</p>
                                    <p class="subtitle">Bottom box</p>
                                </article>
                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child notification is-white">
                                    <p class="title">Middle box</p>
                                    <p class="subtitle">With an image</p>
                                    <figure class="image is-4by3">
                                        <img src="https://picsum.photos/640/480/?random" alt="Description">
                                    </figure>
                                </article>
                            </div>
                        </div>
                        <div class="tile is-parent is-shady">
                            <article class="tile is-child notification is-white">
                                <p class="title">Wide column</p>
                                <p class="subtitle">Aligned with the right column</p>
                                <div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros,
                                        eu
                                        pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio
                                        quis
                                        feugiat facilisis.</p>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <div class="content">
                                <p class="title">Tall column</p>
                                <p class="subtitle">With even more content</p>
                                <div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at
                                        erat
                                        pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat
                                        gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula
                                        eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
                                    <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a
                                        sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor
                                        lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet
                                        felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida
                                        diam,
                                        finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
                                    <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae
                                        congue
                                        lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed,
                                        gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam
                                        ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Side column</p>
                            <p class="subtitle">With some content</p>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                                    pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis
                                    feugiat facilisis.</p>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent is-8 is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Main column</p>
                            <p class="subtitle">With some content</p>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                                    pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis
                                    feugiat facilisis.</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-8 is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Murphy's law</p>
                            <p class="subtitle">Anything that can go wrong will go wrong</p>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                                    pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis
                                    feugiat facilisis.</p>
                            </div>
                        </article>
                    </div>
                    <div class="tile is-parent is-shady">
                        <article class="tile is-child notification is-white">
                            <p class="title">Main column</p>
                            <p class="subtitle">With some content</p>
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                                    pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis
                                    feugiat facilisis.</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </f:comment>

    <footer class="footer">
        <div class="container is-fullhd">
            <f:render partial="Footer/Default" arguments="{_all}"/>
        </div>
    </footer>

    <f:comment><!--
<div>
    <div>
        <f:render partial="Header/Default" arguments="{_all}" />

        <f:render partial="Frontpage/Claudia" arguments="{_all}" />

        <f:render partial="Frontpage/Dora" arguments="{_all}" />
        <f:render partial="Frontpage/DoraPortrait" arguments="{_all}" />

        <f:render partial="Frontpage/Emil" arguments="{_all}" />

    </div>
</div>
--></f:comment>
</f:spaceless>
</html>
