<!-- Partials/Default/Breadcrumbs/Default.html -->
<div class="bdBulmaTheme--section-breadcrumbs cell">
    <div class="grid-container">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <f:render partial="Navigation/MenuItems" arguments="{menuItems:menuRootline, cropLinkText:30}" />
            </ul>
        </nav>
    </div>
</div>
