<html data-namespace-typo3-fluid="true" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<!-- Partials/Default/Navigation/MenuItems.html -->
<f:spaceless>
    <f:comment>
        parameter
        menuItems: array from menuProcessor
        dontLinkActive: boolean
        buildSubs: boolean
        showTitle: boolean
        firstSubClass: CSS class of first sub level ul
        cssItem: class of nav item
        cssActive: class of active LI item
        cssCurrent: class of current LI item
        cssMuted: class of muted LI item
        classItemFromProp: string of menuItems property name used for class name of list item
        sample
        f:render partial="Navigation/MenuItems" arguments="{menuItems: menuLanguages, dontLinkActive: 1, cssMuted:
        'text-muted'}"
    </f:comment>
    <f:for each="{menuItems}" as="menuItem">
        <f:variable name="linkTextFull"
                    value="{f:if(condition: menuItem.navigationTitle, then: '{menuItem.navigationTitle}', else: '{menuItem.title}')}"/>

        <f:variable name="linkText">
            <f:if condition="{cropLinkText}">
                <f:then>
                    <f:format.crop maxCharacters="{cropLinkText}" append="..." respectWordBoundaries="false">
                        {linkTextFull}
                    </f:format.crop>
                </f:then>
                <f:else>
                    {linkTextFull}
                </f:else>
            </f:if>
        </f:variable>

        <f:if condition="{showTitle}">
            <f:variable name="linkTitle"
                        value="{f:if(condition: menuItem.title, then: '{menuItem.title}', else: '{menuItem.navigationTitle}')}"/>
        </f:if>


        <li class="{cssItem} {f:if(condition: menuItem.active, then: '{cssActive}')} {f:if(condition: menuItem.current, then: '{cssCurrent}')} {f:if(condition: menuItem.available, else: '{cssMuted}')} {f:if(condition: classItemFromProp, then: '{menuItem.{classItemFromProp}}')}">
            <a
                    href="{f:if(condition: '{menuItem.active} && {dontLinkActive}', then: 'javascript:', else: '{menuItem.link}')}"
                    hreflang="{menuItem.hreflang}"
                    target="{menuItem.target}"
                    title="{linkTitle}"
            >{linkText}</a>

            <f:if condition="{menuItem.children} && {buildSubs}">
                <f:then>
                    <ul class="menu {f:if(condition: firstSubClass, then: '{firstSubClass}')}">
                        <f:render partial="Navigation/MenuItems"
                                  arguments="{menuItems:menuItem.children, buildSubs:1, firstSubClass:0}"/>
                    </ul>
                </f:then>
            </f:if>
        </li>
    </f:for>
</f:spaceless>
</html>