<html data-namespace-typo3-fluid="true" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<!-- Partials/Default/Header/Default.html -->
<f:spaceless>
    <input type="checkbox" id="bdBulmaTheme--menu-open-toggle">
    <nav class="section navbar is-fixed-top has-shadow py-3">
        <div class="container">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <f:cObject typoscriptObjectPath="lib.singleContentElement" data="{settings.sitelogo.cid}"/>
                </div>

                <label for="bdBulmaTheme--menu-open-toggle" class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">

                </div>

                <div class="navbar-end">
                    <ul>
                        <f:render partial="Navigation/MenuItems"
                                  arguments="{menuItems: menu0, buildSubs: 1, cssItem: 'navbar-item', cssActive: 'is-active'}"/>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</f:spaceless>
</html>