<f:layout name="{f:if(condition: '{backendLayout} == \'Default\'', then: 'Default', else: 'Layout{backendLayout}')}" />

<f:section name="HeaderAssets">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="{f:uri.resource(path:'Css/bulma.min.css', extensionName: 'bd_bulma_theme')}">
    <link rel="stylesheet" href="{f:uri.resource(path:'Css/bdNormalize.css', extensionName: 'bd_bulma_theme')}">
    <link rel="stylesheet" href="{f:uri.resource(path:'Css/bdBulmaTheme.css', extensionName: 'bd_bulma_theme')}">
    <link rel="stylesheet" href="{f:uri.resource(path:'Css/Page/app.css', extensionName: 'bd_bulma_theme')}" />
    <link rel="stylesheet" href="{f:uri.resource(path:'Fonts/fontawesome/css/all.min.css', extensionName: 'bd_bulma_theme')}">

    <link rel="shortcut icon" href="{f:uri.resource(path:'Images/favicon-16x9.png', extensionName: 'bd_bulma_theme')}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <f:comment><!--
    <script src="{f:uri.resource(path:'JavaScript/jquery.min.js', extensionName: 'bd_bulma_theme')}" ></script>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#c0000f">
    <meta name="msapplication-TileColor" content="#484848">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:image:width" content="279">
    <meta property="og:image:height" content="279">
--></f:comment>
</f:section>

<f:section name="FooterAssets">
    <script src="{f:uri.resource(path:'JavaScript/app.js', extensionName: 'bd_bulma_theme')}" type="text/javascript"></script>
</f:section>
