body {
    font-size: 1.2em;
}

.navbar, .footer {
    background-color: inherit;
}

.navbar-item, .navbar-link {
    color: inherit;
}

body.has-navbar-fixed-top, html.has-navbar-fixed-top {
    padding-top: 140px;
}

#bdBulmaTheme--menu-open-toggle {
    display: none;
}

.navbar.has-shadow {
    box-shadow: 0 -5px 45px -33px rgb(0, 0, 0);
}

.navbar-brand .navbar-item img {
    height: 100px;
}

.navbar-menu ul {
    display: flex;
}

.navbar-end li {
    margin-left: 1em;
}

.bdBulmaTheme--section-alpha .hero-body {
    padding-bottom: 0;
}

.bdBulmaTheme--section-alpha .column:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bdBulmaTheme--section-alpha .column:first-child p {
    font-size: 3rem;
    line-height: 1.125;
    margin-bottom: 1.5rem;
}

.bdBulmaTheme--section-alpha .column:first-child p strong {
    display: inline-block;
    white-space: nowrap;
    padding: 1rem;
    color: #363636;
    background-color: #dbdbdb !important;
    font-weight: 600;
    text-transform: uppercase;
}

.bdBulmaTheme--section-beta {
    background-color: #dbdbdb;
}
