<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true" lang="en">
<!-- Resources/Private/Partials/Default/Footer/Default.html -->
<div class="columns">
    <div class="column">
        <f:render partial="Widgets/Widget1" arguments="{_all}"/>
    </div>
    <div class="column">
        <f:render partial="Widgets/Widget2" arguments="{_all}"/>
    </div>
    <div class="column">
        <f:render partial="Widgets/Widget3" arguments="{_all}"/>
    </div>
</div>
</html>